/* ------------- var -------------- */
:root {
  /* color */
  --color-accent:          #000000;
  --color-accent-80:       rgba(0, 0, 0, 0.8);
  --color-accent-60:       rgba(0, 0, 0, 0.6);
  --color-accent-50:       rgba(0, 0, 0, 0.5);
  --color-accent-30:       rgba(0, 0, 0, 0.3);
  --color-accent-20:       rgba(0, 0, 0, 0.2);
  --color-accent-10:       rgba(0, 0, 0, 0.1);
  --color-background-gray: #F7F7F7;
  --color-background:      #ffffff;
  --color-link:            #BD315B;
  --color-link-hover:      0.7;                 /* opacity */
  --color-link-active:     #741A34;

  /* font-weight */
  --light:     300;
  --regular:   400;
  --medium:    500;
  --semi-bold: 600;
  --bold:      700;
}
/* ------------- var end -------------- */





/* ------------- reset -------------- */
*,
*::before,
*::after {
  font-weight: var(--regular);
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 17px;
}
body {
  line-height: 32px;
}
a {
  cursor: pointer;
}
/* ------------- reset end -------------- */





/* ------------- base -------------- */
body {
  font-family: 'Hind', 'Helvetica Neue', 'Arial', sans-serif;
  color: var(--color-accent);
  fill: var(--color-accent);
  background-color: var(--color-background);
  padding-top: 96px;
}
section {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.box {
  width: 100%;
  max-width: 1232px;
  padding: 0 16px;
}
.button-main {
  font-size: 16px;
  font-weight: var(--semi-bold);
  line-height: 32px;
  margin: 16px 0;
  padding: 9px 32px 7px 64px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-background);
  background: linear-gradient(90deg, #BD315B 0%, #860B28 100%);
  border-radius: 24px;
  display: inline-block;
  cursor: pointer;
}
.button-main:hover {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.button-main::after {
  content: url('/assets/icons/list-style-white.svg');
  margin-left: 50px;
}
.button-simple {
  font-size: 16px;
  font-weight: var(--semi-bold);
  line-height: 32px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--color-link);
  text-transform: uppercase;
  cursor: pointer;
}
.button-simple::after {
  content: url('/assets/icons/list-style-active.svg');
  margin-left: 50px;
}
/* ------------- base end -------------- */





/* ------------- typography -------------- */
b {
  font-weight: var(--bold);
}

a {
  color: var(--color-link);
}
a.disabled {
  color: var(--color-accent-30);
  cursor: default;
}
a:hover {
  opacity: var(--color-link-hover);
  text-decoration: none;
}
a:active:not(.disabled, .menu a) {
  color: var(--color-link-active);
  opacity: 1;
}

h1 {
  font-weight: var(--bold);
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.01em;
}
h2 {
  font-weight: var(--bold);
  font-size: 23px;
  line-height: 32px;
  letter-spacing: -0.01em;
}
h3 {
  font-size: 20px;
  line-height: 32px;
}
h3.semibold {
  font-weight: var(--semi-bold);
}
/* Text Small Semibold */
h4 {
  font-weight: var(--semi-bold);
  font-size: 18px;
  line-height: 24px;
}
/* Text Small Desktop */
h5 {
  font-size: 15px;
  line-height: 16px;
}
/* Text Desktop */
p {
  letter-spacing: 0.01em;
}

h1 + p,
h1 + ul,
h1 + .content-table-two,
h1 + .content-table-four {
  margin-top: 32px;
}
h2 + p,
h2 + ul,
h2 + .content-table-two,
h2 + .content-table-four {
  margin-top: 32px;
}
h3 + p,
h3 + ul,
h3 + .content-table-two,
h3 + .content-table-four {
  margin-top: 24px;
}
p + h2,
ul + h2,
.content-table-two + h2,
.content-table-four + h2 {
  margin-top: 120px;
}
p + p,
p + ul,
ul + p,
.content-table-two + p,
p + .content-table-two,
.content-table-two + ul,
ul + .content-table-two,
.content-table-four + p,
p + .content-table-four,
.content-table-four + ul,
ul + .content-table-four {
  margin-top: 32px;
}

.content ul {
  list-style-image: url('/assets/icons/bullet.svg');
}
.content ul li {
  margin-left: 44px;
  padding-left: 15px;
}
.content ul li + li {
  margin-top: 16px;
}

.phone {
  font-size: 17px;
  line-height: 32px;
  font-weight: var(--semi-bold);
  text-decoration: none;
  color: var(--color-accent);
}
.mail {
  font-size: 17px;
  line-height: 32px;
  text-decoration: none;
  color: var(--color-accent-80);
}
/* ------------- typography end -------------- */





/* ------------- menu -------------- */
.menu {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 96px;
  top: 0;
  background-color: var(--color-background);
  box-shadow: 0 1px 0 0 var(--color-accent-20);
  position: fixed;
}
.menu-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logotype {
  font-weight: var(--bold);
  font-size: 22px;
  line-height: 32px;
  text-decoration: none;
  color: var(--color-accent);
  margin-bottom: 2px;
}
.menu-links {
  height: 100%;
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin: 0 24px;
}
.menu-links-link {
  display: flex;
  align-items: flex-end;
  font-size: 17px;
  line-height: 32px;
  text-decoration: none;
  color: var(--color-accent);
  letter-spacing: 0.01em;
  height: 100%;
  padding: 0 16px;
  position: relative;
}
.menu-links-link:hover {
  opacity: 1;
}
.menu-links-link span:nth-child(1) {
  height: 70px;
  line-height: 44px;
}
.menu-links-link span:nth-child(2) {
  width: 100%;
  height: 2px;
  left: 0;
  background: linear-gradient(90deg, #BD315B 0%, #860B28 100%);
  border-radius: 1px;
  display: none;
  position: absolute;
}
.menu-links-link span:nth-child(2).active {
  display: block;
}

.submenu {
  width: 100%;
  padding-bottom: 40px;
}
.submenu-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px 32px;
  align-items: baseline;
  margin-top: 40px;
}
.submenu-grid span {
  grid-column: 1 / span 3;
}
.submenu-grid > a {
  font-size: 15px;
  line-height: 16px;
  text-decoration: none;
  color: var(--color-accent-80);
}
.submenu-grid > h4 > a {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: var(--color-accent-80);
}
.submenu-grid > h4 > a:hover,
.submenu-grid > a:hover {
  color: var(--color-accent-30);
  opacity: 1;
}

.menu-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  top: 96px;
  left: 0;
  background-color: var(--color-background);
  display: none;
  position: fixed;
}
.menu-hover-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-accent-30);
  display: none;
  position: fixed;
}

.crumbs {
  margin-top: 32px;
  position: absolute;
}
.crumbs a {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: var(--color-accent-50);
  cursor: pointer;
}
.crumbs a:hover {
  color: var(--color-accent-80);
}
.crumbs a:not(:nth-last-child(1))::after {
  content: url('/assets/icons/crumbs-separator.svg');
  top: 3px;
  margin: 0 8px;
  display: inline-block;
  position: relative;
}

/* MOBILE */
.menu-m {
  width: 100vw;
  height: 80px;
  top: 0;
  background-color: var(--color-background);
  box-shadow: 0 1px 0 0 var(--color-accent-20);
  position: fixed;
}
.menu-m-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 0 8px;
}
.menu-m-burger {
  flex-shrink: 0;
}
.logotype-m {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--bold);
  color: var(--color-accent-80);
  opacity: 0.9;
}
/* call */
.menu-m-head > a {
  flex-shrink: 0;
  line-height: 0;
  font-size: 0;
}
/* submenu mobile */
.menu-m-submenu {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: var(--color-background);
  overflow-y: auto;
  display: none;
}
.menu-m-submenu-sticky {
  margin: 0 20px;
}
.menu-m-submenu-sticky > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 24px 0;
  background-color: var(--color-background);
  position: -webkit-sticky;
  position: sticky;
}
.menu-m-submenu-sticky > span,
.menu-m-submenu-sticky > span > a {
  font-size: 20px;
  line-height: 24px;
  font-weight: var(--medium);
  text-decoration: none;
  color: var(--color-accent);
}
.menu-m-submenu-sticky > span > a {
  width: 100%;
  display: block;
}
.menu-m-submenu-sticky + .menu-m-submenu-sticky {
  border-top: 1px solid var(--color-accent-10);
}
.menu-m-submenu-sticky > div {
  margin-bottom: 16px;
  display: none;
}
.menu-m-submenu-sticky > div > span,
.menu-m-submenu-sticky > div > a {
  font-size: 17px;
  line-height: 24px;
  color: var(--color-accent-80);
  text-decoration: none;
  padding: 12px 0;
  display: block;
}
.menu-m-submenu-sticky > div > span,
.menu-m-submenu-sticky > div > span > a {
  font-weight: var(--semi-bold);
  text-decoration: none;
  color: var(--color-accent-80);
}
.menu-m-submenu-footer {
  margin: 68px 20px 40px;
}
.menu-m-submenu-footer a,
.menu-m-submenu-footer span {
  width: 100%;
  font-size: 15px;
  line-height: 16px;
  color: var(--color-accent-60);
  text-decoration: none;
  display: block;
}
.menu-m-submenu-footer a {
  padding: 12px 0;
}
.menu-m-submenu-footer span {
  margin-top: 68px;
}
/* ------------- menu end -------------- */





/* ------------- content -------------- */
/* header */
.header-main {
  align-items: flex-end;
  height: 640px;
  padding-bottom: 80px;
  background-image: url('/assets/drew-patrick-miller-VLT62-JzddA-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-main h1,
.header-main p {
  max-width: 784px;
}


/* we provide */
.weprovide {
  background: linear-gradient(90deg, #861E3D 0%, #4D111F 50%, var(--color-background) 50%);
  overflow: hidden;
}
.weprovide-box {
  display: flex;
  align-items: center;
  max-width: 1264px;
  left: 32px;
  position: relative;
}
.weprovide-left {
  max-width: 376px;
  margin-right: 32px;
}
.weprovide-left > h1,
.weprovide-left > p {
  color: var(--color-background);
}
.weprovide-left > p {
  opacity: 0.8;
}
.weprovide-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 824px;
  margin: 100px 0;
  padding: 70px 15px;
  background: var(--color-background-gray);
  border-radius: 6px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
}
.weprovide-right div {
  flex-basis: calc(50% - 32px);
  display: flex;
  align-items: center;
  max-width: 376px;
  margin-right: 32px;
  padding-left: 40px;
}
.weprovide-right div + div {
  margin-top: 50px;
}
.weprovide-right div + div:nth-of-type(3) {
  margin-top: 0;
}
.weprovide-right div span {
  font-size: 80px;
  line-height: 96px;
  color: var(--color-link);
  width: 45px;
  margin-right: 20px;
  flex-shrink: 0;
}


/* our advantages */
.ouradvantages {
  padding: 100px 0;
  overflow: hidden;
}
.ouradvantages-box {
  display: flex;
}
.ouradvantages-left,
.ouradvantages-right {
  width: 50%;
  position: relative;
}
.ouradvantages-left {
  padding-right: 16px;
}
.ouradvantages-list {
  font-size: 20px;
  line-height: 32px;
  list-style-image: url('/assets/icons/list-style.svg');
  margin-top: 35px;
}
.ouradvantages-list li {
  color: var(--color-accent-80);
  margin-left: 26px;
  padding: 12px 0 12px 32px;
  cursor: pointer;
}
.ouradvantages-list li svg {
  display: none;
}
.ouradvantages-list li:hover {
  color: var(--color-accent);
  list-style-image: url('/assets/icons/list-style-active.svg');
}
.ouradvantages-list li.active {
  font-weight: var(--semi-bold);
  color: var(--color-accent);
  list-style-image: url('/assets/icons/list-style-active.svg');
}
.ouradvantages-right {
  padding-left: 16px;
}
.ouradvantages-right p {
  color: var(--color-accent-80);
  margin-top: 62px;
  width: calc(100% - 84px);
  left: 84px;
  position: relative;
}
.ouradvantages-right-image {
  height: 400px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  background-color: var(--color-accent);
}
.ouradvantages-right-image-shadow {
  width: calc(100% - 16px);
  height: 400px;
  top: 25px;
  left: 100px;
  background: linear-gradient(90deg, #861E3D 0%, #4D111F 100%);
  display: block;
  position: absolute;
}
.ouradvantages-right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  position: absolute;
}


/* immigration */
.immigration {
  background-color: var(--color-background-gray);
  padding: 96px 0;
}
.cards {
  display: grid;
  margin: 50px 0 32px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}
.card {
  max-width: 376px;
  height: 384px;
  padding: 32px;
  text-decoration: none;
  color: var(--color-accent);
  background: linear-gradient(90deg, var(--color-background) 0%, var(--color-background) 100%);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.card::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #861E3D 0%, #4D111F 100%);
  display: block;
  position: absolute;
  opacity: 0;
}
.card:hover {
  margin-top: -16px;
  opacity: 1;
}
.card:hover::before {
  opacity: 1;
}
.card:hover .flag {
  height: 0;
}
.card:hover h3,
.card:hover p,
.card:hover .button-simple {
  color: var(--color-background);
}
.card:hover .button-simple::after {
  content: url('/assets/icons/list-style-white.svg');
}
.card:hover p {
  opacity: 1;
}
.card .flag {
  width: calc(100% + 64px);
  height: 184px;
  top: -32px;
  left: -32px;
  overflow: hidden;
  display: block;
  position: relative;
}
.card .flag .flag-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  opacity: 0.7;
  display: block;
}
.card .flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.card h3 {
  position: relative;
}
.card p {
  position: relative;
  opacity: 0;
}
.card .button-simple {
  bottom: 40px;
  position: absolute;
}


/* banking for companies */
.bankingforcompanies {
  background: linear-gradient(180deg, var(--color-background-gray) 0%, var(--color-background-gray) 150px, var(--color-background) 150px);
}
.bankingforcompanies-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 500px;
  padding: 64px;
  background-image: url('/assets/didier-weemaels-ZKVBM2_Dp84-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.bankingforcompanies-box h1,
.bankingforcompanies-box p {
  max-width: 618px;
}
.bankingforcompanies-box p + .button-main {
  margin-top: 32px;
}

/* business registration */
.businessregistration {
  margin: 116px 0;
}
.businessregistration .button-main {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
/* ------------- content end -------------- */





/* ------------- content inner -------------- */
.header-inner {
  height: 360px;
  background: linear-gradient(118.18deg, #F7F7F7 -0.16%, #EFF0F2 96.91%);
}
.header-inner-box {
  display: flex;
  flex-direction: column;
}
.header-inner-banking {
  background-image: url('/assets/safe-913452-big.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-inner-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  top: calc(50% + 42px);
  transform: translateY(-50%);
  position: relative;
}
.header-inner-content > div {
  position: relative;
}
.header-inner-flag {
  width: 300px;
  height: 146px;
  background: var(--color-background);
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}
.header-inner-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-inner {
  padding: 80px 0 120px;
}
.content-inner-box {
  display: flex;
}
.content {
  padding-right: 32px;
}
.content-table-two {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 24px 32px;
}
.content-table-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 32px;
}
.content-table-two p + p,
.content-table-four p + p {
  margin-top: 0;
}
.content-table-four p a {
  text-decoration: none;
  color: var(--color-accent-80);
  display: block;
}
.content-table-four p a + a {
  margin-top: 16px;
}

.content-aside {
  flex-shrink: 0;
  width: 300px;
}
.content-aside-links {
  font-size: 20px;
  line-height: 32px;
  margin: 16px 0 0 24px;
  list-style-image: url('/assets/icons/list-style.svg');
}
.content-aside-links li a {
  text-decoration: none;
  color: var(--color-accent-80);
}
.content-aside-links li:hover {
  list-style-image: url('/assets/icons/list-style-active.svg');
}
.content-aside-links li:hover a {
  font-weight: var(--semi-bold);
  color: var(--color-accent);
  opacity: 1;
}
.content-aside-links li + li {
  margin-top: 8px;
}

.contacts {
  margin: 64px 0 120px;
}
.contacts-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacts-table div h2 a {
  font-weight: var(--bold);
  text-decoration: none;
  color: var(--color-accent);
}
.contacts-table div p + h2 {
  margin-top: 0;
}
.contacts-table div h2 + p {
  margin-top: 64px;
}
.contacts-icons {
  display: none;
}
.contact-image {
  width: 100%;
  margin-top: 100px;
}
/* ------------- content inner end -------------- */





/* ------------- footer -------------- */
.footer {
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  box-shadow: 0 -1px 0 0 var(--color-accent-20);
}
.footer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
}
.footer-head .logotype {
  font-size: 30px;
}
.footer-head .phone {
  font-size: 28px;
}
.footer-middle,
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--color-background-gray);
}
.footer-bottom {
  box-shadow: 0 -1px 0 0 var(--color-accent-20);
}
.footer-bottom span {
  font-size: 15px;
  line-height: 16px;
  color: var(--color-accent-60);
}
/* ------------- footer end -------------- */





/* ------------- layers -------------- */
.menu {
  z-index: 200;
}
.menu-m {
  z-index: 100;
}
.menu-hover {
  z-index: 99;
}
.menu-hover-overlay {
  z-index: 98;
}
.weprovide-box,
.ouradvantages-right-image,
.card .flag,
.card h3,
.card p,
.card .button-simple {
  z-index: 2;
}
.weprovide-bg,
.ouradvantages-right-image-shadow,
.card::before {
  z-index: 1;
}
/* ------------- layers end -------------- */





/* ------------- transition -------------- */
.menu-m,
rect,
.ouradvantages-right-image img {
  transition: 300ms all ease-out;
}
.card,
.card::before,
.card .flag,
.card h3,
.card p {
  transition: 180ms all ease-out;
}
a,
.button-main,
.button-simple,
.menu-m-submenu-sticky > span > svg,
.ouradvantages-list li,
.ouradvantages-list li svg {
  transition: 100ms all ease-out;
}
/* ------------- transition end -------------- */





/* ------------- media -------------- */
@media all and (max-width: 1024px) {
  body {
    padding-top: 80px;
  }
  .box {
    padding: 0 20px;
  }
  .menu {
    display: none;
  }

  .header-main {
    min-height: 640px;
    height: auto;
    padding: 48px 0 80px;
  }

  .weprovide {
    background: linear-gradient(90deg, #861E3D 0%, #4D111F 100%);
  }
  .weprovide-box {
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    padding: 80px 0 80px 20px;
  }
  .weprovide-left {
    max-width: calc(100% - 20px);
    margin-right: 0;
  }
  .weprovide-right {
    max-width: 100%;
    margin: 40px 0 0;
    padding: 20px 32px;
    border-radius: 6px 0 0 6px;
  }
  .weprovide-right div {
    flex-basis: calc(50% - 12px);
    max-width: 50%;
    margin: 24px 0;
    padding: 0;
  }
  .weprovide-right div + div {
    margin-top: 0;
  }
  .weprovide-right div:nth-child(odd) {
    margin-right: 12px;
  }
  .weprovide-right div:nth-child(even) {
    margin-left: 12px;
  }
  .weprovide-right div span {
    margin-right: 12px;
  }
  .ouradvantages-left {
    font-size: 17px;
    line-height: 24px;
  }



  .footer-middle {
    display: none;
  }
  .footer-bottom .submenu-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer-bottom .submenu-grid span {
    grid-column: 1 / span 2;
  }
}

@media all and (max-width: 667px) {
  html {
    font-size: 15px;
  }
  body {
    line-height: 24px;
  }
  h1 {
    font-size: 26px;
    line-height: 32px;
  }
  h2 {
    font-weight: var(--semi-bold);
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 17px;
    line-height: 24px;
  }
  h3.semibold {
    font-weight: var(--medium);
  }
  /* Text Small Mobile */
  h5 {
    font-size: 12px;
    line-height: 16px;
  }
  /* Text Mobile */
  p {
    letter-spacing: -0.01em;
  }

  h2 + p,
  h2 + ul,
  h2 + .content-table-two,
  h2 + .content-table-four {
    margin-top: 24px;
  }

  p + h2,
  ul + h2,
  .content-table-two + h2,
  .content-table-four + h2 {
    margin-top: 80px;
  }

  p + p,
  p + ul,
  ul + p,
  .content-table-two + p,
  p + .content-table-two,
  .content-table-two + ul,
  ul + .content-table-two,
  .content-table-four + p,
  p + .content-table-four,
  .content-table-four + ul,
  ul + .content-table-four {
    margin-top: 16px;
  }


  .weprovide-right {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .weprovide-right div {
    flex-basis: 100%;
    max-width: 100%;
  }
  .weprovide-right div:nth-child(odd) {
    margin-right: 0;
  }
  .weprovide-right div:nth-child(even) {
    margin-left: 0;
  }
  .weprovide-right div span {
    font-size: 40px;
    line-height: 40px;
    font-weight: var(--medium);
  }

  .ouradvantages {
    padding: 80px 0;
  }
  .ouradvantages-box {
    display: block;
    position: relative;
  }
  .ouradvantages-left {
    padding-right: 0;
  }
  .ouradvantages-left, .ouradvantages-right {
    width: 100%;
  }
  .ouradvantages-list,
  .ouradvantages-list li.active {
    list-style: none;
  }
  .ouradvantages-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    padding: 24px 0;
    transition: none;
  }
  .ouradvantages-list li svg {
    right: 0;
    flex-shrink: 0;
    display: inline-block;
  }
  .ouradvantages-list li.active {
    font-weight: var(--regular);
  }
  .ouradvantages-list li.active svg {
    transform: rotate(90deg);
  }
  .ouradvantages-list li + li {
    border-top: 1px solid var(--color-accent-10);
  }
  .ouradvantages-right {
    padding-left: 0;
    position: absolute;
  }
  .ouradvantages-right-image {
    width: calc(100% - 60px);
    height: 180px;
  }
  .ouradvantages-right-image-shadow {
    width: calc(100% - 60px);
    height: 180px;
    top: 20px;
    left: 20px;
  }
  .ouradvantages-right p {
    width: calc(100% - 40px);
    left: 0;
    margin-top: 38px;
  }

  .immigration {
    background-color: var(--color-background);
  }
  .cards {
    grid-template-columns: 1fr;
    gap: 0;
    margin: 50px 0 0;
  }
  .card {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    padding: 24px 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }
  .card .flag {
    width: 64px;
    height: 48px;
    top: 0;
    left: 0;
    margin-right: 24px;
  }
  .card h3 {
    flex-grow: 1;
  }
  .card::before,
  .card p,
  .card .button-simple {
    display: none;
  }
  .card + .card {
    border-top: 1px solid var(--color-accent-10);
  }

  .bankingforcompanies {
    background: none;
    background-image: url('/assets/didier-weemaels-ZKVBM2_Dp84-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bankingforcompanies-box {
    height: auto;
    padding: 80px 0;
    background-image: none;
    box-shadow: none;
    border-radius: 0;
  }


  .header-inner {
    min-height: 440px;
  }
  .header-inner-box {
    display: block;
  }
  .header-inner-content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .header-inner-flag {
    width: 64px;
    height: 48px;
    margin-bottom: 56px;
  }
  .crumbs {
    display: none;
  }
  .content-inner-box {
    flex-direction: column;
  }
  .content {
    padding-right: 0;
  }
  .content ul li {
    margin-left: 26px;
    padding-left: 8px;
  }
  .content-table-four {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 32px;
  }
  .content-table-four > p:nth-child(1) {
    grid-row: 1 / 2;
  }
  .content-table-four > p:nth-child(2) {
    grid-column: 1 / 2;
  }
  .content-table-four > p:nth-child(3) {
    grid-row: 1 / 2;
  }
  .content-aside {
    margin-top: 80px;
  }

  .header-inner-banking {
    background: linear-gradient(118.18deg, #F7F7F7 -0.16%, #EFF0F2 96.91%);
  }

  .contacts {
    margin: 40px 0 80px;
  }
  .contacts-table {
    display: block;
  }
  .contacts-table > p {
    margin-bottom: 80px;
  }
  .contacts-icons {
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    margin-top: 24px;
    display: block;
  }
  .contacts-icons img + img {
    margin-left: 16px;
  }
  .contact-image {
    margin-top: 30px;
  }


  .footer-head .logotype {
    display: none;
  }
  .footer-bottom {
    background-color: var(--color-background);
    box-shadow: none;
  }
  .footer-bottom .submenu-grid {
    grid-template-columns: calc(40% - 16px) 60%;
    gap: 16px 16px;
    margin-top: 0;
  }
  .footer-bottom .submenu-grid span {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: right;
  }
  .footer-bottom .submenu-grid a {
    grid-column: 1 / 2;
  }
}
/* ------------- media end -------------- */